*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.body1{
    background-image:url(./Imagenes/background_carrito.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


/* CLASES DE INCION SESSION */



 .body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Imagenes/supermarket-cart.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
} 

.container-form{
width: 90%;
height: 90vh;
display: flex;
justify-content: space-around;
transition: all .5s ease-out;
}

.welcome-back{
    display: flex;
    margin-left: 55px;
    align-items: center;
    text-align: center;
}

.message{
    padding: 1rem;
    margin-right: 55px;

}

.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button{
    padding: 1rem;
    font-weight: 400;
    background-color: #ee9c4a;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover{
    background-color:rgb(255, 115, 0);
}

.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.847);
    text-align: center;
}

.create_account{
    padding: 2.7rem 0;
    font-size:1.7rem ;
}

.cuenta_gratis{
    padding: 2rem 0;
}

.formulario input{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #fff;
}

.class_button{
    width: 60%;
    margin: auto;
    border: solid thin white ;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.class_button1{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 59%;
    margin: auto;
    border: solid thin #a5a5a5;
    padding: 0.7rem;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    margin-left: 7px;
    cursor: pointer;
    color: #222;
    margin-top: 0px;
}

.class_button1:hover{
    background-color:#d0d0d0c2;
}
    
.text-center{
    font-family: 'Oswald', sans-serif;
    padding:15px;
    font-size: 50px;
    background-color:rgba(171, 171, 171, 0.911);
    border-radius: 5px;
    border: double 3px black;
}

.my-5 {
    padding: 10px;
    background-color: #d0d0d0c2;
    border-radius: 5px;
    border: solid 1px black;
}

.my-5 h4{
text-align: center;
padding: 5px;
}

.navbar{
    border-bottom: solid 2px black;
}

.carousel{
    border-bottom: solid 2px black;
}

.class-footer{
    background-color:rgba(171, 171, 171, 0.808);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.class-footer_redes{
    width: 30%;
    display: flex;
    justify-content:space-around;
}
.class-footer_redes a{
    color: rgb(32, 30, 30);
}
.class-footer_redes a:hover{
    color:rgb(255, 115, 0);
}
.class-footer_logo{
    width:40%;
    display: flex;
    justify-content:center;
}
.class-logo{
    width:80px;
    height:80px;
    border-radius: 100%;
}
.class-footer_creador{
    font-size:20px;
}

.navbar-brand{
    margin-left: -782px;
}
/* Hemos que se muestre Inicio Sesion o Crear cuenta, segun el boton que se haga click. */

.sign-in{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active{
    opacity: 1;
    visibility: visible;
}

.sign-up.active{
opacity: 0;
visibility: hidden;
}

form .formulario a input{
    text-decoration: none;
}

